@font-face {
    font-family: "Graffiti" ;
    src: url(fonts/LidakzOne_PERSONAL_USE_ONLY.otf);
}

@font-face {
    font-family: "Faith" ;
    src: url(fonts/Faith\ Collapsing.ttf);
}

body {
 background-color: #DFFF00;
font-family: "Graffiti" ;
}

p {
    font-family: "Faith" ;
    text-align: center;
    font-size: 3em;
    width: 50%;
}

#ribone {
    width: 15em;
   position: relative;
   top: -625px;
   left: 300px ;
}

#ribtwo {
    width: 15em;
   position: relative;
   top: -775px;
   left: -1375px ;
   transform: scaleX(-1);
}

#sludge {
    width: 30em;
    position: relative;
    left: 125px;
    top: -500px;
    z-index: -1;
}

#clink {
    position: relative;
    width: 25em;
    top: -450px;
    z-index: 1;
    opacity: 50%;
}

#clink2{
    position: relative;
    width: 25em;
    top: -450px;
    left: 600px
    z-index: 1;
    opacity: 50%;
}

.blinking-image {
    width: 1200; /* Optional: Set image size */
    position: relative;
    top: -610px;
    height: auto;
    animation-name: blink; /* Link to the @keyframes rule */
    animation-duration: 3s; /* 1 second per cycle */
    animation-iteration-count: infinite; /* Repeat forever */
}

@keyframes blink {
    0% { opacity: 1; } 
    50% { opacity: 0; }
    100% { opacity: 1; } 
}

.spinner {
  animation: rotation 2s infinite linear; 
  position: relative;
  top: -1000px;
  left: 200px;
}

.spinner2 {
  animation: rotation 6s infinite linear; 
  position: relative;
  top: -1300px;
}

.spinner3 {
  animation: rotation 10s infinite linear; 
  width: 30em;
  position: relative;
  top: -1300px;
  left: 400px;
}

.spinner4 {
  animation: rotation 10s infinite linear; 
  width: 30em;
  position: relative;
  top: -1800px;
  left: -850px;
}

@keyframes rotation {
  from {
    transform: rotate(0deg); /* Start at 0 degrees */
  }
  to {
    transform: rotate(360deg); /* Rotate to 360 degrees */
  }
}

h1 {
  animation: glitch 3s steps(100) infinite;
  color: #151515;
  font-size: 6em;
  text-align: center;
  text-transform: uppercase;
  border-top: -50px;
}

@media (min-width: 480px) {
  h1 {
    font-size: 9em;
  }
}

h2 {
    font-family: cursive;
    font-size: 10em;
    text-align: center;
    position: relative;
    top: -1650px;
}

@keyframes glitch { 
  0% { text-shadow: 3px 0 0 red, -3px 0 0 #0c33f5; filter: blur(0);}
  1% { text-shadow: 3px 0 0 red, -3px 0 0 #0c33f5; filter: blur(0);}
  2% { text-shadow: 3px 0 0 red, -3px 0 0 #0c33f5; filter: blur(0);}
  3% { text-shadow: 3px 0 0 red, -3px 0 0 #0c33f5; filter: blur(0);}
  4% { text-shadow: 3px 0 0 red, -3px 0 0 #0c33f5; filter: blur(0);}
  5% { text-shadow: -3px 0 0 red, 3px 0 0 #0c33f5; filter: blur(0);}
  6% { text-shadow: -3px 0 0 red, 3px 0 0 #0c33f5; filter: blur(0);}
  7% { text-shadow: -3px 0 0 red, 3px 0 0 #0c33f5; filter: blur(0);}
  8% { text-shadow: -3px 0 0 red, 3px 0 0 #0c33f5; filter: blur(0);}
  9% { text-shadow: -3px 0 0 red, 3px 0 0 #0c33f5; filter: blur(0);}
  10% { text-shadow: -3px 0 0 red, 3px 0 0 #0c33f5; filter: blur(0);}
  18% { text-shadow: -3px 0 0 red, 3px 0 0 lime; filter: blur(0);}
  19% { text-shadow: -3px 0 0 red, 3px 0 0 lime; filter: blur(0);}
  30% { text-shadow: 0.8px 0 0 #0c33f5, -0.8px 0 0 lime; filter: blur(0);}
  50% { text-shadow: -3px 0 0 red, 3px 0 0 lime; filter: blur(0);}
  51% { text-shadow: 3px 0 0 red, -3px 0 0 #0c33f5; filter: blur(0);}
  52% { text-shadow: 3px 0 0 red, -3px 0 0 #0c33f5; filter: blur(0);}
  53% { text-shadow: 3px 0 0 red, -3px 0 0 #0c33f5; filter: blur(0);}
  54% { text-shadow: 3px 0 0 red, -3px 0 0 #0c33f5; filter: blur(0);}
  55% { text-shadow: 3px 0 0 red, -3px 0 0 #0c33f5; filter: blur(0.5px);}
  56% { text-shadow: -3px 0 0 red, 3px 0 0 #0c33f5; filter: blur(0.5px);}
  57% { text-shadow: -3px 0 0 red, 3px 0 0 #0c33f5; filter: blur(0.5px);}
  58% { text-shadow: -3px 0 0 red, 3px 0 0 #0c33f5; filter: blur(0);}
  59% { text-shadow: -3px 0 0 red, 3px 0 0 #0c33f5; filter: blur(0);}
  60% { text-shadow: -3px 0 0 red, 3px 0 0 #0c33f5; filter: blur(0);}
  61% { text-shadow: 30px 0 0 red, -30px 0 0 lime; filter: blur(0);}
  62% { text-shadow: 0 0 0 red, 0 0 0 lime; filter: blur(0);}
  63% { text-shadow: 1px 0 0 red, -1px 0 0 #0c33f5; filter: blur(0);}
  85% { text-shadow: 1px 0 0 red, -1px 0 0 lime; filter: blur(0.5px);}
  86% { text-shadow: -3px 0 0 red, 3px 0 0 lime; filter: blur(0.5px);}
  87% { text-shadow: -3px 0 0 red, 3px 0 0 lime; filter: blur(0.5px);}
  94% { text-shadow: 0.8px 0 0 #0c33f5, -0.8px 0 0 lime; filter: blur(0);}
  95% { text-shadow: 0.8px 0 0 #0c33f5, -0.8px 0 0 lime; filter: blur(0);}
  96% { text-shadow: -3px 0 0 #0c33f5, 3px 0 0 lime; filter: blur(0);}
  97% { text-shadow: -3px 0 0 #0c33f5, 3px 0 0 lime; filter: blur(0);}
  98% { text-shadow: -3px 0 0 #0c33f5, 3px 0 0 lime; filter: blur(0);}
  99% { text-shadow: -3px 0 0 #0c33f5, 3px 0 0 lime; filter: blur(0);}
  100% { text-shadow: -3px 0 0 #0c33f5, 3px 0 0 lime; filter: blur(0);} 
}

